@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap');
* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: hsl(243,87%,12%);
    font-size:1.1em;
    margin: 0;
}

a{
    color:#3da08f;
}

img{
    max-width: 100%;
}

h1,
h2,
h4{
   font-family: 'Raleway',sans-serif; 
}

 h2 {
     font-size:1.8em;
     margin-top: 0;
 }

.container {
    padding: 30px;
    margin:0 auto;
    max-width:100%;
    width:90%;
}


.flex{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}

.align-start {
    align-items:flex-start;

}

.flex>div,
.flex>ul{
    flex:1
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:30px 0;
}

nav ul{
    display:flex;
    padding:0;
    list-style-type:none;
}

nav ul li{
    margin-left: 50px;
}

nav ul a{
    color: hsl(243,87%,12%);
    font-family:'Raleway',sans-serif; 
    text-decoration: none;

}

form{
    display: flex;

}

input{
    border: 1px solid hsl(243,87%,12%);
    border-radius: 2px;
    font-family:'Raleway',sans-serif; 
    font-size:14px;
    flex: 0.7;
    padding: 15px;
}

input::placeholder {
    color: hsl(0,0%,75%);
}

button{
    border: 1px solid hsl(224,93%,58%);
    background-color: hsl(224,93%,58%);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color:white;
    font-family:'Raleway',sans-serif; 
    font-weight:700;
    font-size:14px;
    flex: 0.3;
    padding:15px;
    margin-left: 10px;

}

.section1{
    background-color: hsl(240,75%,98%);
    margin-top:100px;
    position:relative;
    padding: 5opx ;
}

.section1::before{
    content: '';
    background-image:url('./images/bg-curve-desktop.svg');
    background-size: cover;
    background-position: center center;
    position:absolute;
    top:-60px;
    left:0;
    height:60px;
    width:100%;

}

.box{
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding:25px;
    margin-top: 40px;
    width:80%;



}

.box p{
    font-size:14px;
    letter-spacing: 1px;
    line-height: 1.7;
}

.user-info{
    display:flex;
    margin-top: 20px;;
}

.user-info img{
    border-radius:50%;
    height:50px;
    margin-right:10px;
    width:50px;
}

.user-info h4{
    font-weight: 700;
    margin: 3px;


}

.section2{
    background-color: hsl(238,22%,44%);
    color: white;
    padding:50px 0;
}

.section2 form {
    flex-direction: column;
}

.section2 form input{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border:none;
    flex:1;
}

.section2 form button {
    margin:20px 0 0;
    width:50%;
}

footer {
    background-color: hsl(243,87%,12%);;
    color: white;
   padding: 50px 0;
}

footer ul {
    list-style-type:none;
}

footer ul li {
    margin-bottom: 20px;
    word-spacing: 5px;
    
}
footer ul li:hover {
    color: hsl(224,93%,58%);
    
}

footer .social-media {
    display:flex;
    align-items:center;
    justify-content:center;

}


footer .circle{
    border:1px solid white;
    border-radius:50%;
    color:white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
    height:40px;
    width:40px;
    text-decoration: none;
}

footer .circle .fab:hover {
    color: hsl(224,93%,58%);
}

footer p{
    text-align:right;
}


@media screen and (min-width:375px) and (max-width:540px) {

    nav{
        flex-direction:column;
        margin:10px 0;
        
    }

    nav ul li{
        margin:10px 20px;
    }

    .container form{
        flex-direction:column;
    }

    .container form button{
        margin-top:15px
    }
    .section1::before{
        background-image:url('./images/bg-curve-mobile.svg');
        height:80px;
    }

    .flex {
        flex-direction:column-reverse;
    }

    .section2 .container .flex{
        flex-direction:column;
    }

    .flex>div {
        width:100%;
    }

    .flex >div:first-child{
        
        margin-right:0;
        
        
    }
    
    .flex >div:last-child{
        margin-right:0;
    }


    .box{
        width:100%;
    
    } 

    .box p{
        font-size:14px;
        letter-spacing: 1px;
        line-height: 1.7;
    }   
    
    .section2 {
        flex-direction: column-reverse;
    }

    .section2 form input{

        flex:1;
    }
    
    .section2 form button {
        margin:20px 0;
        width:100%;
    }
    .user-info {
        justify-content: center;
    }

    .align-start {
        flex-direction: column;
  
    }

    footer ul {
        padding:0;
        width:100%;
    }
    
    
}
